*{
    margin: 0;
    padding: 0;
}
.card{
    display: flex;
    justify-content: center;
    gap: 2vh;
    margin-top: 5vh;
}
.photos h2{
    color: white ;
    font-size: 20px;
    font-family: Okra, Helvetica, sans-serif;
    position: relative;
    bottom: 3.5vh;
    left: 1vh;
    white-space: nowrap;
}
.photos img{
    width: 35vh;
    height: 30vh;
}
.heading{
    position: relative;
    left: 30vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.heading h5{
    font-size:36px ;
    font-weight: 520;
}
.heading p{
    font-size: 18px;
}