*{
    margin: 0;
    padding: 0;
}
.offer{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.back{
    background-color: rgb(248, 249, 252);
    padding-bottom: 15vh;
}
.offer img{
    width: 5vh;
    height: 5vh;
    position: relative;
    top: 3.5vh;
    left: 1vh;
}
.card{
    border: 2px solid rgb(255, 237, 239);
    width: 35vh;
    height: 40vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}
.text p{
    font-size: 18px;
    margin-left: 2vh;
    color: rgb(118, 124, 143);
}
.text h5{
    color: rgb(175, 180, 192);
    margin-top: 2em;
    border-bottom: 2px solid rgb(242, 244, 247);
    padding-bottom: 0.5em;
    margin-left: 1vh;
}
.delivery{
    background-color: rgb(255, 237, 239);
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 47px 47px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.btext h2{
    font-size: 24px;
    margin-left: 3vh;
}
.btext h4{
    font-size: 16px;
    color: rgb(118, 124, 143);
    margin-left: 3vh;
}
.bbtext{
    display: flex;
    flex-flow: column;
    gap: 20px;
}
.back h6{
    font-size: 40px;
    padding-top: 2em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}
.cont{
    background-color: white;
    border-radius: 0px 0px 50px 50px;
    height: 500vh;
    padding-top: 3vh;
}
.beyond{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}
.beyond p{
    color: rgb(118, 124, 143);
    width: 110vh;
    font-size: 20px;
}
.image img {
    width: 30vh;
    padding: 3vh 0vh 0vh 3vh;
    margin-bottom: 3vh;
}
.image{
    background-color: white;
    width: 110vh;
    border-radius: 50px;
}
.image p{
    color: rgb(118, 124, 143);
    width: 75vh;
    font-size: 18px;
    margin: 0vh 3vh;
}
.inner{
    display: flex;
}
.inner img{
    margin-bottom: -7vh;
    position: relative;
    bottom: 8vh;
}
.full{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botom{
    display: flex;
    background-color: white;
    border-radius: 50px;
    padding: 2vh;
}
.botomimage p{
    width: 20vh;
    color: rgb(118, 124, 143);
    font-size: 18px;
}
.botomimage h7{
    font-size: 20px;
    font-weight: 1000;
    width: 15vh;
}
.botomimage{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.botom img{
    width: 10vh;
}
.last{
    display: flex;
    gap:100px;
    justify-content: center;
    margin-top: 5vh;
}