.offer{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.back{
    background-color: rgb(248, 249, 252);
}
.offer img{
    height: 5vh;
    position: relative;
    top: 3.5vh;
    left: 1vh;
}
.card{
    border: 2px solid rgb(255, 237, 239);
    width: 35vh;
    height: 40vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}
.text p{
    font-size: 1.2em;
    margin-left: 2vh;
    color: rgb(118, 124, 143);
}
.text h5{
    color: rgb(175, 180, 192);
    margin-top: 2em;
    border-bottom: 2px solid rgb(242, 244, 247);
    padding: 0.5em;
    margin-left: 1vh;
}
.delivery{
    background-color: rgb(255, 237, 239);
    padding: 2vh;
    border-radius: 47px 47px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.btext h2{
    margin-left: 3vh;
}
.btext h4{
    color: rgb(118, 124, 143);
    margin-left: 3vh;
}
.bbtext{
    display: flex;
    flex-flow: column;
    gap: 20px;
    margin: 2vh;
}
.back h6{
    font-size: 3em;
    padding-top: 2em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}
.cont{
    background-color: white;
    border-radius: 0px 0px 50px 50px;
    height: 500vh;
    padding-top: 3vh;
}
.beyond{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8em;
}
.beyond p{
    color: rgb(118, 124, 143);
    width: 110vh;
    font-size: 1.5em;
}
.image img {
    width: 30vh;
    padding: 3vh 0vh 0vh 3vh;
    margin-bottom: 3vh;
}
.image{
    background-color: white;
    width: 110vh;
    border-radius: 50px;
}
.image p{
    color: rgb(118, 124, 143);
    width: 75vh;
    font-size: 1.2em;
    margin: 0vh 3vh;
}
.inner{
    display: flex;
}
.inner img{
    margin-bottom: -7vh;
    position: relative;
    bottom: 8vh;
}
.full{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.botom{
    display: flex;
    background-color: white;
    border-radius: 50px;
    padding: 2vh;
}
.botomimage p{
    width: 20vh;
    color: rgb(118, 124, 143);
    font-size: 1.1em;
}
.botomimage h7{
    font-size: 1.4em;
    font-weight: 1000;
    width: 15vh;
}
.botomimage{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.botom img{
    width: 10vh;
}
.last{
    display: flex;
    gap:100px;
    justify-content: center;
    margin-top: 5vh;
}
@media (max-width: 400px) {
    .back{
        width: 175vh;
    }
    .offer{
        width: 150vh;
        margin-bottom: 10vh;
    }
    .offer h1{
        font-size: 25px;
    }
    .last img{
        height: 10vh;
    }
 }