*{
    margin: 0;
    padding: 0;
}
.head{
    background-color: rgb(226, 55, 68);
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    margin-bottom: -20px;
    position: fixed;
    width: 100vw;
    z-index: 10;
}
.image img{
    width: 10vh;
}
.image{
    display: flex;
    color: white;
    font-size: 20px;
}
.text{
    display: flex;
    gap: 15px;
    color: white;
    position: relative;
    right: 20vh;
}
.text h6{
    font-size: 18px;
    font-weight: 500;
}
@media (max-width: 400px) {
    .head{
        width: 90%;
    }

 }