*{
    margin: 0;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.zomatoo{
    display: flex;
    gap: 80px;
    justify-content: center;
}
h6{
    font-size: 2vh;
}
.zmato{
    position: relative;
    left: 40vh;
    top: 3vh;
    margin-bottom: 7vh;
}
.foot{
    background-color: lightgray;
    margin-top: 10vh;
}