*{
    margin: 0;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.zomatoo{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}
.about h6{
    font-size: 1.5em;
}
.zmato{
    display: flex;
    justify-content: center;
    padding: 5vh;
}
.foot{
    background-color: lightgray;
    margin-top: 10vh;
}
@media (max-width: 1100px) {
    .about h6{
        font-size: 1em;
    }
}