*{
    margin: 0;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.zomatoo{
    display: flex;
    gap: 80px;
    justify-content: center;
}
.about h6{
    font-size: 3vh;
}
.zmato{
    display: flex;
    justify-content: center;
    padding: 5vh;
}
.foot{
    background-color: lightgray;
    margin-top: 10vh;
}