.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vh;
    margin-top: 5vh;
    min-width: 170vh;
}
.photo{
   padding-bottom: 3vh;
    transition: all 0.3s ease;
    border-radius: 10px;
}
.photo img{
    border-radius: 10px 10px 0px 0px;
    flex: 1 0 270px;
}
.photo:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.photo p{
    font-size: 16px;
    font-family: Okra, Helvetica, sans-serif;
    opacity: 0.5;
    padding-left: 2vh;
    word-wrap: break-word;
}
.photo h3{
    font-size: 1em;
    font-family: Okra, Helvetica, sans-serif;
    opacity: 0.6;
    padding-top: 1vh;
    padding-left: 2vh;
}
.photo img{
    width: 40vh;
    height: 20vh;
}
.bot{
    border: 1px solid grey;
    background-color: white;
    position: relative;
    bottom: 5vh;
    padding-bottom: 2vh;
    width: 100%;    
}
